---
import { getLatestLaunchBy, getLatestLaunches } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";

export const prerender = false //esto es para servidor.
//cookiies


const { id } = Astro.params;

let launch;
if (id) {
  launch = await getLatestLaunchBy({ id });
}
---
  ^^4{3}
<Layout title={`Lanzamientos ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
